<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<title>Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://127.0.0.1:8080">NMM CONTROLLER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8080/messages/all">AllMessages <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8080/messages/diagrams/load">Received Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8080/messages/drop/load">Dropped Messages</a>
      </li>
    </ul>
  </div>
</nav>
 <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
       <h1 class="display-4 font-weight-normal">NMMCONTROLLER</h1>
		<br>
		<hr/>
        <h1 class="display-4">Cikojevic Nenad</h1>
		<p class="lead font-weight-normal">a01549084@unet.univie.ac.at</p>
		<hr/>
		<h1 class="display-4">Srdanovic Nemanja</h1>
		<p class="lead font-weight-normal">a01576891@unet.univie.ac.at</p>
		<hr/>
		<h1 class="display-4">Mehremic Adem</h1>
		<p class="lead font-weight-normal">a01650669@unet.univie.ac.at</p>
		<hr/>
		<h1 class="display-4">Radunovic Veljko</h1>
		<p class="lead font-weight-normal">a01528243@unet.univie.ac.at</p>
		<hr/>

      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

</html>
